.btn{
  position: relative;
  // height: 45px; 
  border: 3px solid transparent;
  overflow: hidden;
  border-radius: 10px;
  p{
    font-size: 18px;
    z-index: 3;
    position: relative;
  }
  &::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 1;

    width: 200%;
    height: 2%;
    margin-left: -50%;
    margin-top: 10px;

    background-color: #fff;
    background-color: rgb(227, 55, 243);
    box-shadow: 0 0 0.1em 0.2em 
    rgb(227, 55, 243), 0 0 0.1em 0.1em 
    rgb(224, 98, 238);

    animation: loading 6s linear infinite
  }
  &::before{
    position: absolute;
    content: '';
    inset:0;
    margin: 1.5%;
    z-index: 2;
    border-radius: 5px;

    background-color: #fff;
    background-color: #252d35;
  }
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}